<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <title>Hours Booster</title>

    <link rel="stylesheet" type="text/css" href="../../styles/login.css" />
</head>
<body class="bg-wrapper">
    <div class="blob"></div>
    <div class="container" >
        <form id="myForm">
            <div class="form-content">
                <div>
                    <div class="form-x">
                        <p class="input-title">Username</p>
                        <div class="inputContent">
                            <div class="icoUser"></div>
                            <input type="text" id="username" name="username" class="form-input">
                        </div>
        
                        <p class="input-title">Password</p>
                        <div class="inputContent">
                            <div class="icoPass"></div>
                            <input type="password" id="password" name="password" class="form-input">
                            <div class="icoOcultPass" id="icoViewPass"></div>
                        </div>
                    </div>
                    <div class="buttonContent" id="buttonContent">
                        <div class="btnS">
                            <button class="btn" id="btn" type="submit"><div class="icoLogin"></div> Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <p class="datainfoapp-l">last build 06/10/2023</p>
        <p class="datainfoapp">version 0.3.5</p>
    </div>

    <script src="../../scripts/login.js"></script>
</body>
</html>